/* container */
$widthContainer: 1910px;
$paddingContainer: 50px;

/* base typography */
$baseFont: 'Roboto Flex', sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #000; /* base color for <a> */