.header {
  &-section {
    position: relative;
    z-index: 1;
  }

  &-content {
    position: absolute;
    width: 100%;
    padding: 46px 0;

    @media(max-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 28px 0;
    }
  }

  &-logo {
    display: flex;
    align-items: center;
  }

  &-img {
    margin-right: 5px;

    @media(max-width: 576px) {
      margin-right: 8px;
    }
  }

  &-title {
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 1;
    color: #fff;

    @media(max-width: 576px) {
      font-size: 36px;
      text-align: center;
    }
  }

  &-subtitle {
    text-align: right;
    display: block;

    a {
      font-weight: 527;
      font-size: 15px;
      color: #fff;

      @media(max-width: 576px) {
        font-size: 12px;
        letter-spacing: 0.22em;
      }
    }

    @media(max-width: 576px) {
      text-align: left;

    }
  }

  &-burger {
    display: none;

    @media(max-width: 576px) {
      display: block;
    }
  }

  &-menu {
    display: none;

    &.active {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #10263F;
      width: 100%;
      height: 100%;
    }

    &-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 28px;
      padding-bottom: 33px;
      border-bottom: 1px solid #264669;
      margin-bottom: 38px;
    }

    &-contact {
      span {
        display: block;
        font-style: italic;
        font-weight: 800;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFF500;
        margin-bottom: 29px;
      }

      a {
        display: block;
        font-weight: 700;
        font-size: 15px;
        color: #fff;
        margin-bottom: 10px;
      }
    }
  }
}